$tablet: 1024px;
$desktop: 1200px;
$primary: #1C2D72;
$secondary: #313131;
$tertiary: #DBDBDB;
$fontWeight: 400;
$fontWeightBold: 700;
@import "./styles/variables/typography";
@import "./styles/styles";


