.site-footer {
    font: normal normal 600 16px/19px Barlow Semi Condensed;
    a {
        font: var(--unnamed-font-style-normal) normal 700 16px/19px Barlow Semi Condensed;
        font-family: 'Barlow';
    }
    .lg-social-media {
        display: flex;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
            &:not(:last-child){
                margin-right: 1rem;
            }
        }
    }

    .footer-title {
        margin-top: 0;
    }

    .footer-nav-section {
        flex-direction: column;
        @media screen and (min-width: $desktop){
            flex-direction: row;
        }
    }
    .more-info-column, .product-column {
        ul {
            list-style: none;
            padding-left: 0;
            a {
                text-decoration: none;
                display: inline-block;
            }
        }
    }
    .footer-main {
        padding: 3rem 1.25rem;
        gap: 1.5rem;

        > .wp-block-column {
            flex-shrink: unset;
            flex-grow: unset;
            flex-basis: unset;
        }

        > .wp-block-column:first-child {
            flex: 0 0 40%;
            img {
                width: 150px;
                @media screen and (min-width: $desktop){
                    width: 200px;
                }
            }
        }

        >.wp-block-column:not(:first-child){
            a {
                text-decoration: none;
                color: $tertiary;
                transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out, border-radius 0.3s ease-in-out;
                border-bottom: 1px solid transparent; // Invisible border to prevent layout shift
                &:hover {
                    color: #fff; // Change text color to white
                    border-bottom-color: #fff; // Add white underline
                }
            }
        }

        >.wp-block-column:first-child {
            a {
                &:not(.has-text-color){
                    color: $tertiary !important;
                    
                    text-decoration: none;
                    transition: color 0.3s ease;
        
                    &:hover {
                        color: var(--wp--preset--color--white) !important;
                    }
                }
            }
        }

        > .wp-block-column:nth-child(2) {
            @media screen and (min-width: $tablet){
                flex: 0 0 30%;
            }
            @media screen and (min-width: $tablet){
                flex: 0 0 40%;
            }
            
        }

        > .wp-block-column:last-child {
            @media screen and (min-width: $tablet){
                flex: 0 0 30%;
            }
            @media screen and (min-width: $tablet){
                flex: 0 0 20%;
            }
        }

        .footer-contact {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            flex-direction: column;

            .wp-block-columns {
                flex-wrap: nowrap !important;
                gap: 1rem;
                display: flex;
                max-width: fit-content;

                &:hover {
                    a,i {
                        color: var(--wp--preset--color--white) !important;
                    }

                }

                p {
                    margin: 0;
                }

                .icon-column {
                    flex: 0 1 auto;
                    min-width: 1.25rem;

                    .wp-block-lg-blocks-font-awesome {
                        font-size: 1.25rem;
                        display: flex;
                        flex-wrap: wrap;
                        // align-content: center;

                        a {
                            display: flex;
                            text-decoration: none;

                            i {
                                line-height: 1.5rem;
                            }
                        }
                    }

                }

                .link-column {
                    flex: 1 1 auto;
                    display: flex;
                    p {
                        display: flex;
                        a {
                            display: flex;
                        }
                    }
                }
            }
        }

        .footer-social {
            .lg-social-media-cont {
                ul.lg-social-media {
                    list-style-type: none;
                    display: flex;
                    flex-wrap: nowrap;
                    gap: 1.5rem;
                    padding-inline-start: 0;
                    margin: 0;

                    a {
                        i {
                            font-size: 1.5625rem;
                            line-height: 1.75rem;
                        }
                    }

                }
            }
        }
        .footer-links {
            p {
                text-transform: uppercase;
                font-weight: 600;
                margin-top: 0;
            }
            ul {
                list-style-type: none;
                padding-inline-start: 0;
                font-weight: 600;
                margin: 0;
            }
        }
        .footer-social.has-contact {
            > p {
                margin-top: 0;
                text-transform: uppercase;
                font-weight: 600;
            }
            .wp-block-columns {
                flex-wrap: nowrap !important;
                gap: 1rem;
                display: flex;
                max-width: fit-content;
                margin-bottom: 1rem;


                &:hover {
                    a,i {
                        color: var(--wp--preset--color--white) !important;
                    }

                }

                p {
                    margin: 0;
                }

                .icon-column {
                    flex: 0 1 auto;
                    min-width: 1.25rem;
                    max-width: 1.25rem;

                    .wp-block-lg-blocks-font-awesome {
                        font-size: 1.25rem;
                        display: flex;
                        flex-wrap: wrap;
                        // align-content: center;

                        a {
                            display: flex;
                            text-decoration: none;

                            i {
                                line-height: 1.5rem;
                            }
                        }
                    }

                }

                .link-column {
                    flex: 1 1 auto;
                    display: flex;
                    p {
                        display: flex;
                        a {
                            display: flex;
                        }
                    }
                }
            }
        }
    }

    .footer-legal {
        padding: 1rem 1.25rem;
        text-align: center;
        gap: 0.75rem;

        .copyright {
            font-weight: 400;
            font-family: "Barlow", serif;
        }

        .footer-longevity {
            p {
                margin: 0;
                text-align: center;

                a {
                    text-decoration: none;
                    color: $primary;
                    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
                    border-bottom: 1px solid transparent; // Invisible border to prevent layout shift
                    &:hover {
                        color: $secondary !important;
                        background-color: $tertiary !important;
                        border-bottom-color: $secondary; // Add white underline
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) {
    .site-footer {
        .footer-main {
            justify-content: space-between;
            .footer-contact {
                row-gap: 0.5rem;
                max-width: fit-content;
            }
            .footer-social {
                display: flex;
                max-width: fit-content;
            }
            .footer-social.has-contact {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        .footer-legal {
            .footer-copyright {
                text-align: left;
                .copyright {
                    display: flex;
                }
            }
            .footer-longevity {
                display: flex;
                justify-content: flex-end;
                p {
                    text-align: right;
                }
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .site-footer {
        .footer-main {
            .footer-links {
                max-width: fit-content;
                .wp-block-column {
                    max-width: fit-content;
                    p, ul, li {
                        display: flex;
                    }
                    ul {
                        flex-direction: column;
                    }
    
                }
            }
        }
    }
}