.gform_wrapper {
    form {
        .gform-footer {
            input[type=submit] {
                border-radius: 40px !important;
                transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out !important;
                &:hover {
                    background-color: #fff !important;
                    border-radius: 0 !important;
                }
            }
        }
        .gform-body {
            .gfield textarea.large {
                @media (max-width: $tabletSmall){
                    height: 5rem;
                    min-block-size: unset;
                }
            }
            .gfield_description {
                color: white;
            }
        }
    }
}