<!-- wp:template-part {"slug":"header","theme":"wp-theme-child","tagName":"header","className":"site-header"} /-->

<!-- wp:cover {"dimRatio":0,"isUserOverlayColor":true,"minHeight":70,"minHeightUnit":"vh","isDark":false,"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light" style="min-height:70vh"><span aria-hidden="true"
        class="wp-block-cover__background has-background-dim-0 has-background-dim"></span>
    <div class="wp-block-cover__inner-container"><!-- wp:heading {"textAlign":"center","level":1} -->
        <h1 class="wp-block-heading has-text-align-center">Oops!</h1>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"align":"center"} -->
        <p class="has-text-align-center">The page you are looking for couldn't be found. Double check your link or go to
            the home page to continue browsing our website.</p>
        <!-- /wp:paragraph -->

        <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
        <div class="wp-block-buttons"><!-- wp:button -->
            <div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/">Go to Home Page</a>
            </div>
            <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->
    </div>
</div>
<!-- /wp:cover -->

<!-- wp:template-part {"slug":"footer","theme":"wp-theme-child","tagName":"footer","className":"site-footer"} /-->