<!-- wp:template-part {"slug":"header","theme":"wp-theme-child","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"metadata":{"name":"Blog Container"},"className":"blog-container","layout":{"type":"constrained"}} -->
<div class="wp-block-group blog-container">
    <!-- wp:columns {"metadata":{"name":"Blog Content"},"className":"entry-content blog-content"} -->
    <div class="wp-block-columns entry-content blog-content">
        <!-- wp:column {"width":"70%","metadata":{"name":"Blog Column"},"className":"blog-main"} -->
        <div class="wp-block-column blog-main" style="flex-basis:70%">
            <!-- wp:query {"queryId":9,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"enhancedPagination":true,"className":"","layout":{"type":"constrained"}} -->
            <div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"default","columnCount":3}} -->
                <!-- wp:columns {"metadata":{"name":"Post Columns"},"align":"wide","className":"post-columns"} -->
                <div class="wp-block-columns alignwide post-columns">
                    <!-- wp:column {"width":"33.33%","metadata":{"name":"Content Column"},"className":"post-content"} -->
                    <div class="wp-block-column post-content" style="flex-basis:33.33%">
                        <!-- wp:post-title {"isLink":true} /-->

                        <!-- wp:post-date /-->

                        <!-- wp:post-excerpt {"moreText":"Read More"} /-->
                    </div>
                    <!-- /wp:column -->

                    <!-- wp:column {"width":"66.66%","metadata":{"name":"Post Featured Image"},"className":"post-image"} -->
                    <div class="wp-block-column post-image" style="flex-basis:66.66%">
                        <!-- wp:post-featured-image {"isLink":true} /--></div>
                    <!-- /wp:column -->
                </div>
                <!-- /wp:columns -->
                <!-- /wp:post-template -->

                <!-- wp:query-pagination -->
                <!-- wp:query-pagination-previous /-->

                <!-- wp:query-pagination-numbers /-->

                <!-- wp:query-pagination-next /-->
                <!-- /wp:query-pagination -->
            </div>
            <!-- /wp:query -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column {"metadata":{"name":"Blog Sidebar"},"className":"blog-sidebar"} -->
        <div class="wp-block-column blog-sidebar">
            <!-- wp:group {"metadata":{"name":"Sidebar Container"},"className":"blog-sidebar-container","layout":{"type":"constrained"}} -->
            <div class="wp-block-group blog-sidebar-container">
                <!-- wp:group {"metadata":{"name":"Categories"},"backgroundColor":"primary","className":"categories","layout":{"type":"constrained"}} -->
                <div class="wp-block-group categories has-primary-background-color has-background">
                    <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","className":"title"} -->
                    <p class="title has-white-color has-text-color has-link-color">Categories</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:categories /-->
                </div>
                <!-- /wp:group -->

                <!-- wp:group {"metadata":{"name":"Recent Posts"},"backgroundColor":"primary","className":"recent-posts","layout":{"type":"constrained"}} -->
                <div class="wp-block-group recent-posts has-primary-background-color has-background">
                    <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","className":"title"} -->
                    <p class="title has-white-color has-text-color has-link-color">Recent Posts</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:latest-posts {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} /-->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wp-theme-child","tagName":"footer","className":"site-footer"} /-->